.wp-block-viewsource-accordion-item-no-control {
	.wp-block-viewsource-accordion-item-no-control__title {
		display: flex;
		justify-content: space-between;
		span {
			width: 100%;
		}
		&::after {
			content: "▶";
			transition: all 300ms ease;
			display: inline-block;
		}
	}
	.wp-block-viewsource-accordion-item-no-control__content {
		display: none;
	}
	&.is-selected {
		.wp-block-viewsource-accordion-item-no-control__title {
			&::after {
				transform: rotate(90deg);
			}
		}
		.wp-block-viewsource-accordion-item-no-control__content {
			display: block;
		}
	}
}