.wp-block-viewsource-accordion-item-flexible {
	.wp-block-viewsource-accordion-item-flexible__title {
		display: flex;
		justify-content: space-between;
		span {
			width: 100%;
		}
		&::after {
			content: "▶";
			transition: all 300ms ease;
			display: inline-block;
		}
	}
}